backend/.gradle
backend/build/
backend/!gradle/wrapper/gradle-wrapper.jar
backend/.properties
backend/out/production

### STS ###
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings
backend/.springBeans
backend/.sts4-cache

### IntelliJ IDEA ###
backend/.idea
backend/*.iws
backend/*.iml
backend/*.ipr
backend/out/

### NetBeans ###
backend/nbproject/private/
backend/build/
backend/nbbuild/
backend/dist/
backend/nbdist/
backend/.nb-gradle/


## FRONT END
##dependencies
front-end/node_modules

# testing
front-end/coverage

# production
front-end/build

# misc
front-end/.DS_Store
front-end/.env.local
front-end/.env.development.local
front-end/.env.test.local
front-end/.env.production.local

front-end/npm-debug.log*
front-end/yarn-debug.log*
front-end/yarn-error.log*
front-end/*.lock

front-end/.idea
